* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.corpo {
    background-color: #444444;
    padding: 8px;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 16px;
}

.cabecalho {
    background-color: #cc2a2a;
    border-radius: 10px;
    min-width: 50px;
    min-height: 50px;
    grid-column: span 4; /*Ocupando as 4 colunas*/
}

.lateral {
    background-color: #45cc2a;
    border-radius: 10px;
    min-width: 50px;
    min-height: 50px;
    grid-row: 1 / span 3; /*Ocupar a partir da 1ª linha e ocupar 3 linhas*/
    grid-column: 4; /*Ocupando a 4ª coluna*/
}

.meio {
    background-color: #2aa6cc;
    border-radius: 10px;
    min-width: 50px;
    min-height: 50px;
    grid-column: span 2; /*Ocupando 2 colunas*/
    grid-row: 1 / span 3; /*Ocupar a partir da 1ª linha e ocupar 3 linhas*/
}

.direita-cima {
    background-color: #352acc;
    border-radius: 10px;
    min-width: 50px;
    min-height: 50px;
    grid-row: 3; /*Ocupar a 3ª linha*/
    grid-column: 1; /*Ocupar a 1ª coluna*/
}

.direita-baixo {
    background-color: #cc2a96;
    border-radius: 10px;
    min-width: 50px;
    min-height: 50px;
    grid-column: 1; /*Ocupar a 1ª coluna*/
    grid-row: 1 / span 2; /*A partir da 1ª linha ocupar 2 linhas*/
}